extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'О нас';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    section.sec1
    div.sec-text
        h3.sec-text__title Basic CSS Parallax Scrolling Effects
        p.sec-text__dsc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    section.sec2
    div.sec-text
        h3.sec-text__title Basic CSS Parallax Scrolling Effects
        p.sec-text__dsc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    section.sec3
    div.sec-text
        h3.sec-text__title Basic CSS Parallax Scrolling Effects
        p.sec-text__dsc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    section.sec4
    div.sec-text
        h3.sec-text__title Basic CSS Parallax Scrolling Effects
        p.sec-text__dsc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
