extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Главная';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    //div.pict
        h1.pict-text Студия татуировки Забей

