extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Главная';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    div.inner
        div.meeting-block
            div.meeting-block__text
                p.title.z Zабей
                h1.h.z Студия татуировки в Туле
                button.button О нас
            div.meeting-block__img


