extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Главная';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    section.inner
        div.meeting-block
            div.meeting-block__text-content
                h1.meeting-block__heading.text-item.text-item--animation Zабей
                p.meeting-block__title.text-item.text-item--animation Студия татуировки в Туле
                a(href='about.html')
                    button.meeting-block__button О НАС
            div.meeting-block__visual
                //<iframe id="64375027-9291-48b7-b3e5-2929131287d3" src="https://www.vectary.com/viewer/v1/?model=64375027-9291-48b7-b3e5-2929131287d3&env=cedarbridge&showPreloader=0&showInteractionPrompt=0" frameborder="0" width="100%" height="480"></iframe>



