.parallax {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.parallax--bg-block-one {
  background-image: url("/../../images/about/about-one.jpg");
}
.parallax--bg-block-two {
  background-image: url("/../../images/about/about-two.jpg");
}
.parallax--bg-block-three {
  background-image: url("/../../images/about/about-three.jpg");
}
.parallax--bg-block-four {
  background-image: url("/../../images/about/about-four.jpg");
}
.parallax-block-text {
  padding: 4% 8%;
  height: auto;
  font-family: sans-serif;
  color: #262626;
}
.parallax-block-text__title {
  margin: 0;
  padding: 0;
  font-size: 2em;
}
.parallax-block-text__dsc {
  font-size: 1em;
}
