
/*.pict{
  background-image: url("/../../images/about/rs61Fc0mYTM.jpg");
  width: 100%;
  height:650px;
  margin-top: -100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
}
.pict-text{
  color: #eeeeee;
  text-align: center;
}*/

.meeting-block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}
.meeting-block__text{
  margin-left: 100px;
}
.meeting-block__img{
  margin-right: 100px;
}
.button {
  color: #232323;
  background: transparent;
  border: 1px solid #232323;
  position: relative;
  font-size: 14px;
  letter-spacing: .3em;
  font-family: 'Montserrat', sans-serif;
  padding: 17px 34px 17px 39px;
  transition: .2s ease-in-out;
  cursor: pointer;
  margin: 30px 0 0 0;
}
.button:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background: #32D4E2;
  z-index: -1;
  transition: .25s ease;
  transform: translate(0, 0);
}
.button:hover:before {
  transform: translate(4px, 4px);
}

.title{
  font-size: 105px;
  font-family: 'Lobster', cursive;
  font-weight: 400;
  letter-spacing: 20px;
  color: rgba(255, 255, 255, 0);
  margin-block-end: 0;
  margin-block-start: 0;
  margin-left: 200px;
}
.h{
  font-size: 25px;
  color: rgba(255, 255, 255, 0);
  margin-block-start: 0;
  margin-top: -7px;
  margin-left: 200px;
  font-family: 'Raleway', sans-serif;
}



