@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@font-face {
  font-family: 'FinistC';
  src: url("/../../fonts/FinistC.otf") format("opentype");
}

body{
  background-image: url("/../../images/layout/background.jpg");
  font-family: 'FinistC', serif;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

h2{
  text-align: center;
  margin: 90px 0 60px 0;
  letter-spacing: 5px;
  font-size: 40px;
  color: $colorMenu;
}

p{
  font-family: 'Raleway', sans-serif;
}

.carousel-indicators li.active{
  background-color:  #6D99E9;
}

.inner {
  max-width: 1168px;
  margin: 0 auto;

  @include mediaWidth($widthTablet) {
    max-width: 1150px;
  }
  @include mediaWidth($widthPhone) {
    max-width: 767px;
  }
  @include mediaWidth($widthXs) {
    max-width: 500px;
  }
}

.logo{
  width: 60px;
  height: 60px;

  @include mediaWidth($widthPhone) {
    width: 55px;
    height: 55px;
  }
  @include mediaWidth($widthXs) {
    width: 50px;
    height: 50px;
  }
}
.menu-link{
  //font-family: 'Raleway', sans-serif;
  //font-size: 19px;
  font-weight: 500;
  letter-spacing: .1em;
  margin:0 20px 0;
  position: relative;

  font-family: 'FinistC', serif;
  font-size: 30px;

  &:after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3;
    width: 0;
    height: 2px;
    background-color: rgba(35, 81, 217, 0.25);
    transition: width 0.5s;
  }
  &:hover:after{
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3;
    height: 2px;
    background-color: rgba(35, 81, 217, 0.55);
    transition: width 0.5s;
  }

  @include mediaWidth($widthTablet) {
    margin: 0 15px 0;
  }
  @include mediaWidth($widthPhone) {
    font-size: 17px;
  }
  @include mediaWidth($widthXs) {
    font-size: 15px;
  }
}
.navbar-light .navbar-nav .nav-link{
  //color: $colorBlack;
  color: #eeeeee;
}
.navbar-light .navbar-nav .nav-link:hover{
  //color: $colorBlack;
  color: #eeeeee;
}
.hr-nav{
  color: rgba(40, 62, 81, 0.35);
  margin-block-start: 0;
  margin-block-end: 0;
}
.footer{
  width: 100%;
  height: 40px;
  background-color: #283E51;
}


