//master card
.master-container{
  width: 60vw;
  height: auto;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 9px 99px rgba(0, 77, 148, 0.21), 0px 3.69781px 42.2672px rgba(0, 77, 148, 0.125183), 0px 2.08955px 38.3532px rgba(0, 77, 148, 0.0848175);
  @include mediaWidth(1250) {
    width: 65vw;
  }
  @include mediaWidth($widthTablet) {
    width: 80vw;
  }
  @include mediaWidth($widthLg) {
    width: 90vw;
  }
  @include mediaWidth($widthPhone) {
    width: 96vw;
  }
  @include mediaWidth(680) {
    width: 80vw;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.master-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mediaWidth(680) {
    align-items: center;
    width: 100%;
    padding-top: 20px;
  }
}
.master-box__name{
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  color: $colorBlack;
  @include mediaWidth($widthLg) {
    font-size: 25px;
  }
  @include mediaWidth(680) {
    text-align: center;
    font-size: 22px;
  }
  @include mediaWidth($widthXs) {
    font-size: 20px;
  }
}
.master-box__profession{
  font-size: 20px;
  color: #66666d;
  font-weight: 400;
  letter-spacing: 1px;
  @include mediaWidth(680) {
    font-size: 18px;
  }
  @include mediaWidth($widthXs) {
    font-size: 16px;
  }
}
.master-box__description{
  white-space: pre-wrap;
  font-size: 16px;
  color: #404040;
  width: 450px;
  letter-spacing: 0.5px;
  @include mediaWidth($widthTablet) {
    width: 45vw;
  }
  @include mediaWidth($widthLg) {
    width: 50vw;
  }
  @include mediaWidth($widthPhone) {
    font-size: 15px;
  }
  @include mediaWidth(680) {
    width: 90%;
  }
  @include mediaWidth($widthXs) {
    font-size: 14px;
  }
}
.master-box a{
  width: 40px;
}
.master-box__inst{
  width: 40px;
  height: 40px;
}
.master__photo--size{
  border-radius: 0;
  width: 250px;
  height: 350px;
  @include mediaWidth($widthTablet) {
    width: 27vw;
  }
  @include mediaWidth($widthLg) {
    width: 30vw;
  }
  @include mediaWidth($widthPhone) {
    width: 35vw;
  }
  @include mediaWidth(680) {
    width: 90%;
    height: 300px;
  }
}

//reviews

.reviews{
  //background: linear-gradient(90deg, #CC95C0 0%, #DBD4B4 50%, #7AA1D2 100%);
  overflow: auto;
  height: 500px;
}
.reviews__author{
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  @include mediaWidth($widthPhone) {
    font-size: 14px;
  }
}
.reviews__text{
  @include mediaWidth($widthPhone) {
    font-size: 16px;
  }
}
//form-review
.form-review{
  height:450px;
}
